@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

.main {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 350px;
  background-color: white;
  margin: 50% auto;
  z-index: 1;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.2);
}

.images img {
  position: absolute;
}

.top-img {
  top: -600px;
  left: -750px;
}

.bottom-img {
  bottom: -600px;
  right: -700px;
}

.upper-background img {
  display: block;
  width: 100%;
}

.profile-img {
  border-radius: 100%;
  border: 6px solid white;
  display: block;
  margin: auto;
  top: -50px;
  position: relative;
}

.profile {
  text-align: center;
  margin-top: -25px;
}

h3 {
  font-weight: 700;
}

h3 span {
  color: hsla(227, 10%, 46%, 1);
  font-weight: 400;
  margin-left: 3%;
}

p {
  color: hsla(227, 10%, 46%, 1);
  font-weight: 400;
  margin: 5% 0 10%;
}

hr {
  opacity: 0.3;
  margin-bottom: 10%;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 5%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat p {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  margin-top: 20%;
}

@media screen and (min-width: 1024px) {
  .top-img {
    top: -600px;
    left: -450px;
  }
  .bottom-img {
    bottom: -700px;
    right: -400px;
  }
}

@media screen and (min-width: 1440px) {
  .top-img {
    top: -400px;
    left: -200px;
  }
  .bottom-img {
    bottom: -400px;
    right: -200px;
  }
}
